.deps
.libs
*~
*.o
*.lo
*.a
*.la
*.so
*.gz
*.swp
aclocal.m4
autom4te.cache
autoscan.log
compile
config.log
config.msg
config.status
config.guess
config.sub
configure
configure.scan
depcomp
missing
install-sh
/Makefile
/Makefile.in
/sctjudge.spec
/src/Makefile
/src/Makefile.in
/src/config.h
/src/config.h.in
/src/version.h
/src/stamp-h1
/src/sctjudge
/l4basic/l4arg/Makefile
/l4basic/l4bds/Makefile
/l4basic/l4darr/Makefile

