.deps
.libs
*~
*.o
*.lo
*.a
*.la
*.so
*.gz
*.swp
aclocal.m4
autom4te.cache
compile
config.log
config.msg
config.status
configure
depcomp
install-sh
Makefile.in
missing
sctjudge.spec
src/Makefile
src/config.h
src/config.h.in
src/version.h
src/stamp-h1
